.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(255, 255, 255);
  display: inline-block;
  background-color: rgb(189, 234, 241);


}
.node-animation {
    pointer-events: none;
}

.node-finish {
  background-color:rgb(250, 0, 21);
  pointer-events: none;
}

.node-start {
  background-color:rgb(120, 231, 163);
}
.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  pointer-events: none;

}
.node-reset {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(255, 255, 255);
  display: inline-block;
  background-color: rgb(189, 234, 241);
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: #d4b2e4
  }
}

.node-wall {
  background-color: rgb(9, 10, 12);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  pointer-events: none;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
